<ion-header>
  <ion-toolbar>
    <ion-title>
      Pied Piper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
   
      <ion-button expand="block" routerLink="/volunteer">I am a volunteer!</ion-button>
    </div>
    <ion-card>
      <ion-card-header>
          <ion-button shape="round" expand="block" size="large" color="danger" (click)="searchWebSpeech()" [disabled]="isWebSpeechRecording">Record</ion-button>
       
      </ion-card-header>
    
      <ion-card-content>
        {{matches[0]}}
      </ion-card-content>
    </ion-card>
    

  <!-- fawek;fjgj rekgjrt;kghrkkn -->


  <!-- fjdlsajfeofihdukfhurkh -->
</ion-content>
